     * {
         --primary-color: #470247;
         --background-color: #503b52;
         --text-color: #f9fafb;
         margin: 0;
         padding: 0;
         font-family: 'Montserrat', sans-serif;
     }
     
     a {
         text-decoration: none;
         color: var(--text-color);
         padding: 0.5rem;
         font-weight: 1000;
         font-size: 1rem;
     }
     
     .container {
         width: 90%;
         margin: auto;
     }
     
     body {
         color: var(--text-color);
         background: var(--background-color);
     }
     
     .navigation {
         background-color: var( --primary-color);
         font: normal;
         text-align: left;
         padding: 2rem 1rem;
     }
     
     .item-active {
         border-bottom: 2px solid;
         font-weight: bold;
     }
     
     .heading {
         text-align: center;
         padding: 2rem;
     }
     
     .formula {
         text-align: center;
         width: 90%;
         margin: auto;
         padding: .5rem;
         border: 2px solid var(--primary-color);
     }
     
     @media only screen and (min-width: 600px) {
         .angle-container,
         .container,
         .formula {
             width: 50%;
         }
     }
     
     .btn {
         padding: 0.5rem;
         background: var(--primary-color);
         color: var(--text-color);
         border: 1px solid var(--primary-color);
         border-radius: 0.25rem;
         width: 100%;
         font-weight: bold;
         font-family: 'Montserrat', sans-serif;
         font-size: 1rem;
     }
     
     .quiz-container p {
         margin-bottom: 1rem;
     }
     
     .quiz-container label {
         margin-right: 0.5rem;
     }
     
     .angle-container {
         width: 90%;
         margin: auto;
     }
     
     .quiz-container {
         padding: 2rem;
         border: 2px solid var(--primary-color);
         border-radius: 0.5rem;
         margin: 1rem 0;
     }
     
     .input-container {
         margin: 1rem 0;
     }
     
     .input-container input {
         padding: 0.5rem;
         font-size: 1rem;
         width: 97%;
         margin: 0.5rem 1rem 1rem 0;
     }
     
     .output {
         text-align: center;
         margin: 2rem 0;
     }